
/* Form */
.form {
    padding: 70px;
}

.form h1 {
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: sans-serif;
}

.form hr {
    width: 50px;
    margin: auto;
    padding-top: 40px;
}

/* End of Form */
